@import '../mixin/mixin';

.button-next {
  display: inline-block;
  background: #E9ECEF;
  border-radius: 100px;
  border: none;
  outline:none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: rgba(0,0,0,0.43);
  position: relative;
  padding: 0;

  &:hover,
  &:focus {
    background: #E9ECEF;
    fill: #000;
  }

  @include mobile() {
    width: 32px;
    height: 32px;
  }
}

.button-next__icon {
  width: 49%;
  height: 49%;
  position: absolute;
  transform: rotate(180deg);
  left: 2px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}