@import '../mixin/mixin';

.button-close {
  display: inline-block;
  background: #E9ECEF;
  border-radius: 100px;
  border: none;
  outline:none;
  cursor: pointer;
  transition: .5s;
  width: 24px;
  height: 24px;
  color: transparent;
  position: relative;
  fill: #848687;

  &:hover,
  &:focus {
    background: #E9ECEF;
    fill: #000;
  }

  @include mobile() {
    width: 32px;
    height: 32px;
  }
}

.button-close__icon {
  width: 70%;
  height: 70%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}