@import '../mixin/mixin';

.user-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;

  @include mobile() {
    width: 32px;
    height: 32px;
  }
}

.user-icon__img {
  width: 100%;
  height: 100%;
}