.input-error {
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #ff0000;
  letter-spacing: 0;
  font-weight: 400;
  display: block;
  margin-top: 4px;
  width: 100%;
}

